menu "Config"

    config AIR720UH_USING_GENERAL_OPS
        bool "General Operates"
        select MOLINK_USING_GENERAL_OPS
        default n

    config AIR720UH_USING_NETSERV_OPS
        bool "Network Service"
        select MOLINK_USING_NETSERV_OPS
        default n

    config AIR720UH_USING_PING_OPS
        bool #"Ping"
        select MOLINK_USING_NETSERV_OPS
        select MOLINK_USING_PING_OPS
        default n

    config AIR720UH_USING_IFCONFIG_OPS
        bool #"Ifconfig"
        select MOLINK_USING_IFCONFIG_OPS
        select AIR720UH_USING_GENERAL_OPS
        select AIR720UH_USING_NETSERV_OPS
        default n

    config AIR720UH_USING_NETCONN_OPS
        bool "Netconn Options"
        select OS_USING_EVENT
        select MOLINK_USING_NETCONN_OPS
        default y

    if AIR720UH_USING_NETCONN_OPS
        config AIR720UH_USING_TCP
            bool "TCP"
            select MOLINK_USING_TCP
            default y

        config AIR720UH_USING_UDP
            bool "UDP"
            select MOLINK_USING_UDP
            default y

        config AIR720UH_USING_SELECT
            bool "Select"
            select MOLINK_USING_SELECT
            default n

        config AIR720UH_USING_DNS
            bool "DNS"
            select MOLINK_USING_DNS
            default y

        config AIR720UH_USING_ADDRINFO
            bool "AddrInfo"
            select AIR720UH_USING_DNS
            select MOLINK_USING_ADDRINFO
            default n
    endif

    config AIR720UH_USING_SOCKETS_OPS
        bool "BSD Socket"
        select AIR720UH_USING_NETCONN_OPS
        select MOLINK_USING_SOCKETS_OPS
        default n

endmenu
