[submodule "oneos-kernel"]
	path = oneos-kernel
	url = https://gitee.com/cmcc-oneos/oneos-kernel.git
[submodule "thirdparty/powermanager"]
	path = thirdparty/powermanager
	url = git@gitee.com:cmcc-oneos/power-manager.git
