# this need match your debug adaptor and target device
source [find interface/stlink-v2-1.cfg]
source [find target/stm32f7x.cfg]

# config openocd support OneOS
$_TARGETNAME configure -rtos oneos

# halt target after gdb attached
$_TARGETNAME configure -event gdb-attach { halt }