
menu "Config" 

    config GM190_USING_GENERAL_OPS
        bool "General Operates"
        select MOLINK_USING_GENERAL_OPS
        default n
		
    config GM190_USING_NETSERV_OPS
        bool "Network Service"
        select MOLINK_USING_NETSERV_OPS
        default n

    config GM190_USING_IFCONFIG_OPS
        bool #"Ifconfig"
        select MOLINK_USING_IFCONFIG_OPS
        select GM190_USING_GENERAL_OPS
        select GM190_USING_NETSERV_OPS
        default n
		
    config GM190_USING_NETCONN_OPS
        bool "Netconn Options"
        select MOLINK_USING_NETCONN_OPS
        default y

    if GM190_USING_NETCONN_OPS
        config GM190_USING_TCP
            bool "TCP"
            select MOLINK_USING_TCP
            default y

        config GM190_USING_UDP
            bool "UDP"
            select MOLINK_USING_UDP
            default y

        config GM190_USING_SELECT
            bool "Select"
            select MOLINK_USING_SELECT
            default n

        config GM190_USING_DNS
            bool "DNS"
            select MOLINK_USING_DNS
            default y

        config GM190_USING_ADDRINFO
            bool "AddrInfo"
            select GM190_USING_DNS
            select MOLINK_USING_ADDRINFO
            default n
    endif

    config GM190_USING_SOCKETS_OPS
        bool "BSD Socket"
        select GM190_USING_NETCONN_OPS
        select MOLINK_USING_SOCKETS_OPS
        default n

endmenu