choice
    prompt "|------SUB MODEL"
        default TEMP_STM32MP157DAAx
    help
        Select the device in STM32MP157xx

    config TEMP_STM32MP157DAAx
        bool "STM32MP157DAAx"
        
    config TEMP_stm32mp157daa1-base
        bool "stm32mp157daa1-base"
endchoice
