choice
    prompt "|------SUB MODEL"
        default TEMP_stm32f091-nucleo-64
    help
        Select the device in STM32F091xx

    config TEMP_stm32f091-nucleo-64
        bool "stm32f091-nucleo-64"
    
endchoice
